.thumbnail {
    width: 360px;
    object-position: right;
    border-width: 2px;

    display: block;
}

.search-bar {
    border-width: 2px;
    font-size: 20px;
    margin-left: 12px;

}

.video-title {
    width: 300px;
}

/* Changing these elements to inline block elements */
.video-author,
.video-stats {
    /* display: inline-block; */
}